.form-stocks {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	--form-border-color: #e5e5ea;
	--form-border-action-color: #3498ff;
	--form-background-color: #fff;
	--form-text-color: #000;
	--form-placeholder-color: #8e8e93;

	body.theme-dark & {
		--form-border-color: #3c3f44;
		--form-border-action-color: #34c3ff;
		--form-background-color: #1a1d24;
		--form-text-color: #fff;
		--form-placeholder-color: #a4a9b3;
	}

	> *,
	::v-deep .rs-picker {
		width: 85%;
	}

	::v-deep .rs-picker-toggle-value {
		color: var(--form-text-color);
	}

	.form__field {
		padding: 7px 11px;
		font-size: 14px;
		font-weight: 400;
		justify-content: center;
		line-height: 20px;
		background-color: var(--form-background-color);
		border: 1px solid var(--form-border-color);
		color: var(--form-text-color);
		border-radius: 6px;
		outline: 0;
		transition: border 0.15s ease-in-out;

		&:hover {
			border-color: var(--form-border-action-color);
		}

		&:focus {
			border-color: var(--form-border-action-color);
			box-shadow: 0 0 0 3px rgba(52, 152, 255, 0.25);
		}

		&::placeholder {
			color: var(--form-placeholder-color);
		}
	}

	.form__submit-btn {
		padding: 5px 20px;
		display: inline-block;
		border-radius: 6px;
		background-color: #3498ff;
		color: #fff;
		transition: background 0.4s;

		&:hover {
			@media (hover: hover) and (pointer: fine) {
				background-color: #0381ff;
			}
		}

		&:disabled {
			background-color: #6eb6fd;
		}
	}
}
