/* ------------------------------------------------------------ *\
	SwitchTheme.Scoped
\* ------------------------------------------------------------ */

.switch-theme {
	position: fixed;
	top: 20px;
	right: 20px;
}
