/* ------------------------------------------------------------ *\
	Prices.Module
\* ------------------------------------------------------------ */

.prices {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 15px;

	@media (max-width: 1024px) {
		width: 100%;
	}
}

.actions {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;

	@media (max-width: 1024px) {
		width: 100%;
	}

	> * {
		width: 100% !important;
	}

	> .player {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
